<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddMCHC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Timeout</key>
		<integer>0</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 darkwake=0 -xcpm</string>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>ThinkPad</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
		</array>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x01660003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>TRIM Support Enable</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPD4OPBAAA</data>
				<key>Comment</key>
				<string>Port limit increase (Ricky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>BABmAQEDAQEAAAAC</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>BABmAQECBAIAAAAE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>DP Video Enable 1/2</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>MAIAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAAAAAAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>MAIAAAIFAAAABAAABwQAAAMEAAAABAAAgQAAAAQGAAAABAAAgQAAAAAAAAAAAgAR</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>DP Video Enable 2/2</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgUAAAAEAAAHBAAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAGAAAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>DP Audio Enable (0205)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AwQAAAAEAACBAAAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AwQAAAAIAAAGAAAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>DP Audio Enable (0304)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BAYAAAAEAACBAAAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>BAYAAAAIAAAGAAAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>DP Audio Enable (0406)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelLapic</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BiosReleaseDate</key>
		<string>05/10/12</string>
		<key>BiosVersion</key>
		<string>MBP101.88Z.00EE.B00.1205101839</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Version</key>
		<string>1.0</string>
		<key>Mobile</key>
		<true/>
		<key>Board-ID</key>
		<string>Mac-C3EC7CD22292981F</string>
		<key>Trust</key>
		<true/>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C022443014NF16PAD</string>
		<key>ProductName</key>
		<string>MacBookPro10,1</string>
		<key>ChassisType</key>
		<string>0x08</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>SerialNumber</key>
		<string>C02JM0XNG4N7</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>SmUUID</key>
		<string>CCF33D1F-14AD-4EFB-AF9C-C9F28FAE1CA9</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>